<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxeXIz4d97bJ-_PDWZVJq2DkscOoOdWl4</string>
	<key>GCM_SENDER_ID</key>
	<string>905649523172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anspahealthbeauty.com</string>
	<key>PROJECT_ID</key>
	<string>an-spa-health</string>
	<key>STORAGE_BUCKET</key>
	<string>an-spa-health.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905649523172:ios:44e407fb34e77908511ff1</string>
	<key>DATABASE_URL</key>
	<string>https://an-spa-health-default-rtdb.firebaseio.com</string>
</dict>
</plist>